<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}{% if page.header %} | {{ page.header }}{% endif %} | {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/themes_red_sake.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}" style="float: none">{{ site.title }}</a>
          
<!-- 			<h2>{{ site.data.navig.pz_title }}</h2> -->
			<ul style="padding-left: 0;margin-top: 0;">
			   {% for item in site.data.navig.pz_nav %}
				  <li style="display: inline;"><a href="{{ BASE_PATH }}/{{ item.url }}">{{ item.title }}</a> . </li>
			   {% endfor %}
			</ul>
        </div>
      </div>
    </div>

    <div class="container-narrow">

		{% include pz/notice-top %}
		<div class="content">
			{{ content }}
		</div>
<!-- 
		<footer>
			<p><small>
			  Hey there!
			</small></p>
		</footer>
 -->

    </div>

<!--     {% include JB/analytics %} -->


<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=625878; 
var sc_invisible=1; 
var sc_security="aad5eb7c"; 
var sc_https=1; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="site stats"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/625878/0/aad5eb7c/1/" alt="site
stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

  </body>
</html>
